ul.sidebar
  li
    div.me
      img(src="http://placehold.it/200x200", alt="Avatar")
  li
    p Hi, I'm Jason Raimondi
    p I am a Full Stack PHP Developer
    p You can contact me at #[a(href="mailto:jason@raimondi.us") jason@raimondi.us]
    
