nav.title-bar(data-responsive-toggle="js-menu-toggle", data-hide-for="medium", style="display:none")
  button.menu-icon(type="button", data-toggle)
  div.title-bar-title Site Title

nav#js-menu-toggle.top-bar
  div.top-bar-left
    ul.menu
      li
        h1.site-title 
          a(href='#') Link
  div.top-bar-right
    ul.menu
      li
        a(href='#') Link
      li
        a(href='#') Link
      li
        a(href='#') Link
      li
        a(href='#') Link
      li
        a(href='#') Link
      li
        a(href='#') Link
  
