  @include foundation-dropdown;
  @include foundation-dropdown-menu;
  // @include foundation-menu;
  @include foundation-title-bar;
  @include foundation-top-bar;

.menu {
  @include menu-base;
  @include menu-icons;
}

// Top bar container
.top-bar {
  @include top-bar-container;
}

// stack on small screens as default
@include breakpoint(small down) {
  @include top-bar-stacked;
}

// Sub-sections
.top-bar-left {
  float: left;
}
.top-bar-right {
  float: right;
}

.site-title {
  font-size: rem-calc(28);
  margin: 0;
}
