doctype html
html
  head
    include ../partials/head.jade
  body

      header
        include ../partials/topbar.jade

      main.center
        block content
           p MAIN CONTENT BLOCK

      footer
        include ../partials/footer.jade

    include ../partials/scripts.jade

