doctype html
html
  head
    include ../partials/head.jade
  body
  
      header
        include ../partials/topbar.jade
        
      main.blog

        section
          block content
             p MAIN CONTENT BLOCK
             
        aside
          block sidebar
            p SIDEBAR BLOCK

      footer
        include ../partials/footer.jade
        
    include ../partials/scripts.jade
    
